@model form_example.Models.Product

<form asp-controller="Product" asp-action="Save" method="POST">
    Id:  
    <input asp-for="Id"/>
    <span asp-validation-for="Id"></span>
    <br>
    Name:
    <input asp-for="Name"/>
    <span asp-validation-for="Name"></span>
    <br>
    Price:
    <input asp-for="Price"/>
    <span asp-validation-for="Price"></span>
    <br>
    <button type="submit">Save</button> 
</form>    

@if(ViewBag.Validator != null )
{
    <span>@ViewBag.Validator</span>
}